<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sc.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BMICAL_Fragment"
            android:label="@string/title_activity_bmical" >
        </activity>
        <activity
            android:name=".NutritionCalFragment"
            android:label="@string/title_activity_nutrition_cal" >
        </activity>
        <activity
            android:name=".TrackProgressFragment"
            android:label="@string/title_activity_track_progress" >
        </activity>
        <activity
            android:name=".PointsPageFragment"
            android:label="@string/title_activity_points_page" >
        </activity>
        <activity
            android:name=".Profile_Page_Fragment"
            android:label="@string/title_activity_profile__page" >
        </activity>
        <activity
            android:name=".FP_STR_TrainingFragment"
            android:label="@string/title_activity_fp__str__training" >
        </activity>
        <activity
            android:name=".FP_Body_Building"
            android:label="@string/title_activity_fp__body__building" >
        </activity>
        <activity
            android:name=".FP_WGT_Loss"
            android:label="@string/title_activity_fp__wgt__loss" >
        </activity>
    </application>

</manifest>
